.availability {
    display: none;

    &:hover {
        .availability__tip {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @media #{$large-up} {
        display: inline-block;
    }

}

.availability__rings {
    display: inline-block;
    font-weight: map-get($font-weight-alpha, medium);
    height: 15px;
    margin: 0 5px;
    padding-left: 10px;
    position: relative;
    text-align: center;
    width: 15px;

    &:before,
    &:after {
        border-radius: 50%;
        content: '';
        position: absolute;
    }

    &:before {
        height: 5px;
        left: 0;
        top: 8px;
        width: 5px;
    }

    &:after {
        animation: pulse 1s ease-out infinite;
        height: 13px;
        left: -5px;
        top: 3px;
        width: 13px;
    }

}

.availability--full .availability__rings {
    &:before {
        background-color: #2ecc71;
    }

    &:after {
        border: 1px solid #2ecc71;
    }

}

.availability--partial .availability__rings {
    &:before {
        background-color: #f1c40f;
    }

    &:after {
        border: 1px solid #f1c40f;
    }

}

.availability--none .availability__rings {
    &:before {
        background-color: #e74c3c;
    }

    &:after {
        border: 1px solid #e74c3c;
    }

}

.availability__tip {
    background: lighten(#161920, 10%);
    border-radius: 3px;
    color: #fff;
    display: inline;
    font-size: em-calc(13px);
    margin-left: -115px;
    margin-top: -5px;
    opacity: 0;
    padding: 5px 10px;
    position: absolute;
    transform: translateX(-10px);
    transition: all .2s ease-in-out;
    z-index: 10;

    &:after {
        background: lighten(#161920, 10%);
        content: '';
        height: 7px;
        position: absolute;
        right: -3px;
        top: 12px;
        transform: rotate(45deg);
        width: 7px;
    }

    body#{$home-page} & {
        background: #fff;
        color: #161920;

        &:after {
            background: #fff;
        }
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
        transform: scale(.1, .1);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.2, 1.2);
    }
}
