.site {
    @include grid-row();
    background: #fff;
    position: relative;

    body#{$home-page} & {
        background: $color-black;
    }

}

.inner {
    @include grid-column($columns: 12, $collapse: true);
    padding: 0 rem-calc(15px);
    overflow: auto;

    @media #{$medium-up} {
        padding: 0 rem-calc(50px);
    }
}

// NEW POST GRID

.site__content--post,
.site__content--sidebar {
    margin-top: 40px;
}

.site__content--post {
    @include grid-column($columns:12, $collapse: true);

    @media #{$medium-up} {
        @include grid-column($columns:8, $collapse: true);
    }

    @media #{$large-up} {
        @include grid-column($columns:7, $collapse: true);
    }
}

.site__content--sidebar {
    @include grid-column($columns:12, $collapse: true);

    @media #{$medium-up} {
        @include grid-column($columns:4, $float: right, $collapse: true);
    }

    @media #{$large-up} {
        @include grid-column($columns:4, $float: right, $collapse: true);
    }
}
// NEW PAGE GRID
.page__header {
    width: 100%;
}


.page__header--feature {
    min-height: 600px;
    margin-top: -100px;
    position: relative;
    padding: rem-calc(200px) rem-calc(15px);
    text-align: left;

    @media #{$medium-up} {
        text-align: center;
        padding: rem-calc(300px) 0;
    }

}

.page__header--work-panasonic {
    @extend %page__header--light;
}

.page__header--page-information {
    padding: rem-calc(50px) rem-calc(15px) rem-calc(25px);
    text-align: left;

    @media #{$medium-up} {
        padding: rem-calc(100px) 0 rem-calc(50px);
        text-align: center;
    }
}

%page__header--light {
    .page__title,
    .page__sub {
        color: $color-white;
    }
}

.page__article {
    @include grid-column($columns:12);
    padding-top: rem-calc(30px);
    padding-bottom: rem-calc(30px);

    @media #{$medium-up} {
        @include grid-column($columns:8, $center:true);
        padding-left: rem-calc(30px) !important;
        padding-right: rem-calc(30px) !important;
    }

    @media #{$large-up} {
        padding-top: rem-calc(50px);
        padding-bottom: rem-calc(50px);
        @include grid-column($columns:7, $center:true);
    }
}

.page__article--full {
    @include grid-column($columns:12);
}

.page__article--big {
    @include grid-column($columns:12);

    @media #{$medium-up} {
        @include grid-column($columns:10, $center:true);
        padding-left: rem-calc(30px) !important;
        padding-right: rem-calc(30px) !important;
    }
}

.page__article--inner {
    @include grid-column($columns:12);
    padding-bottom: rem-calc(30px);
    padding-top: rem-calc(30px);

    @media #{$medium-up} {
        @include grid-column($columns:7, $center:true);
        padding: rem-calc(50px) rem-calc(30px) !important;
        text-align: center;
    }
}

.post__article {
    margin-top: 30px;
}


.content {
    overflow: auto;
    padding: 50px 0;
}



.inner-columns {
    overflow: auto;
    position: relative;
    margin-top: rem-calc(40px);
}

.inner-columns__col {
    @include grid-column($columns:12, $collapse: true);

    @media #{$medium-up} {
        @include grid-column($columns:6, $collapse: true);

        &:nth-of-type(1) {
            padding-right: 1.875rem;
        }

        &:nth-of-type(2) {
            padding-left: 1.875rem;
        }
    }
}

