//
// Index Specific Styles
//

body#{$home-page} {
    h1 {
        // color: #fff;
    }

    .inner__article {
        text-align: left;

        @media #{$medium-up} {
            text-align: center;
        }
    }

    .btn {
        margin: 10px 0;
    }
}

.author-byline {
    border-bottom: 2px solid #eee;
    padding: rem-calc(10px) 0;
    width: 100%;
}

.author-byline__copy {
    @extend %font-family-copy;
    color: #68707f;
    display: block;
    font-size: rem-calc(14px);
    font-weight: light;
    line-height: 1.7em;
    margin-top: 10px;
}

.author-byline__author {
    @extend %font-family-beta;
    font-size: rem-calc(22px);
    font-weight: normal;
}

.author-byline__img {
    border-radius: 50%;
    float: right;
    height: 100px;
    margin-left: rem-calc(40px) !important;
    width: 100px;
}

.share-this {
    @extend .author-byline;
    border-top: 0;
}


// New Misc

.article-content img {
    margin: 30px 0;
}

article img {
    border-radius: 10px;
    max-width: 100%;
}

.screen-reader-text {
    display: none;
}

//
// Post Teaser
//

.post-teaser {
    padding: 10px 0;
    width: 100%;

    @media #{$medium-up} {
        float: left;
        width: 50%;
    }
}

.post-teaser__title,
.post-teaser__sub {
    @extend %font-family-beta;
    text-align: left;
}

.post-teaser__title {
    font-size: rem-calc(28px);
    font-weight: normal;
    line-height: 1em;

    @media #{$medium-up} {
        font-size: rem-calc(25px);
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.post-teaser__sub {
    @extend .post__meta;
    font-size: rem-calc(15px) !important;
}

//
// Signpost
//

.signpost {
    clear: both;
    margin: em-calc(20px) 0;
    position: relative;
    text-align: left;

    @media #{$medium-up} {
        text-align: center;
    }

    .btn {
        position: relative;
        z-index: 4;
    }

    &:before,
    &:after {
        content: '';
        display: none;
        left: 0;
        position: absolute;

        @media #{$medium-up} {
            display: block;
        }
    }

    &:before {
        background: #ddd;
        height: 1px;
        top: rem-calc(35px);
        width: 100%;
    }

    &:after {
        background: #fff;
        height: 100%;
        margin: 0 auto;
        right: 0;
        top: 0;
        width: 350px;
    }
}

.signpost__helper {
    @extend %font-family-beta;
    display: block;
    font-size: rem-calc(13px);
    font-style: italic;
    position: relative;
    z-index: 4;
}

.signpost--dark {

    &:before {
        background: lighten($color-black, 5%);
    }

    &:after {
        background: $color-black;
    }
}


//
// Callout
//

.callout {
    border-top: 1px solid #eee;
    height: auto;
    padding: rem-calc(40px) 0;
    text-align: center;
    width: 100%;
}

.callout__title {
    color: $color-black;
    font-size: rem-calc(24px);
}

.callout__copy {
    color: $color-black;
    font-size: rem-calc(16px);
}

//
// Disqus Overrides
//

.active .publisher-nav-color::after {
    background: $color-flare-primary !important;
}

//
// Paginate Links
//

.paginate {
    border-bottom: 2px solid $color-flare-primary;
    height: auto;
    margin: rem-calc(10px) 0;
    overflow: hidden;
    padding: rem-calc(10px) 0;
    width: 100%;
}

.paginate__btn {
    @extend %font-family-beta;
    font-size: rem-calc(20px);
    height: 50px;
    padding-top: 20px;
    text-decoration: none;
    width: 50%;
}

.paginate__btn--next {
    float: right;
    text-align: right;
}

.paginate__btn--previous {
    float: left;
    text-align: left;
}

.paginate__btn__arrow {
    @extend %font-family-copy;
}
