p {
    color: $color-type;
    font-size: rem-calc(17px);
    font-weight: normal;
    line-height: rem-calc(32px);
    margin: 0 0 em-calc(15px);

    &:first-of-type {
        color: darken($color-type, 5%);
        font-size: rem-calc(20px);
    }

    &.no-first-of:first-of-type {
        color: $color-type;
        font-size: rem-calc(17px);
    }

}

a:not(.btn) {
    color: $color-flare-primary;
}

&.no-first-of {
    p:first-of-type {
        color: $color-type;
        font-size: rem-calc(17px);
    }
}

h2 {
    @extend %font-family-beta;
    font-size: rem-calc(24px);
    font-weight: normal;
    margin: .4em 0;

    &.full-span {
        @extend %font-family-beta;
        font-size: rem-calc(20px);
        line-height: rem-calc(32px);
        margin: rem-calc(20px) 0;

        @media #{$medium-up} {
            font-size: rem-calc(26px);
            line-height: rem-calc(36px);
            margin: rem-calc(30px) 0;
        }
    }
}

h3 {
    font-size: rem-calc(20px);
    font-weight: bold;

    span {
        color: #bbb;
        font-size: rem-calc(16px);
    }
}

.inline-image {
    display: block;
    margin: rem-calc(20px) auto;
}

table {
    display: table;
    margin: rem-calc(20px) 0;
    width: 100%;

    th {
        @extend %font-family-beta;
        font-size: rem-calc(23px);
        text-align: left;
    }

    tr {
        border-bottom: 1px solid #eee;
    }

    em {
        font-style: normal;
        text-decoration: underline;
    }

    td {
        padding: 5px 0;
    }
}
