h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: $color-black;
    margin: 0;
    padding: 0;
}

%font-color-light {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: #fff;
    }
}

// Global Helpers
.color-light,
.resume {
    @extend %font-color-light;
}

.tc {
    @extend %text-align-center;
}

%text-align-center {
    text-align: left;

    @media #{$medium-up} {
        text-align: center;
    }
}

h1 {
    font-size: rem-calc(30px);
    font-weight: map-get($font-weight-alpha, medium);
    line-height: em-calc(22px);

    &.smaller {
        font-size: rem-calc(22px);
        font-weight: map-get($font-weight-alpha, regular);
    }

}

h2 {
    font-size: rem-calc(24px);
    font-weight: map-get($font-weight-alpha, normal);
    margin: rem-calc(20px) 0 0;
}

h3 {
    font-size: rem-calc(24px);
    font-weight: map-get($font-weight-alpha, bold);

    span {
        font-size: rem-calc(14px);
    }
}

h4 {
    font-size: rem-calc(20px);
    font-weight: map-get($font-weight-alpha, medium);
}



.page__title,
.post__title {
    font-size: rem-calc(30px);
    font-weight: map-get($font-weight-alpha, medium);
    line-height: em-calc(22px);
    font-variant-ligatures: contextual;
}

.page__title {
    font-size: rem-calc(48px);
    line-height: 1em;
    font-weight: map-get($font-weight-alpha, bold);
}

.page__title--huge {
    font-size: rem-calc(50px);
    line-height: 1em;
    font-weight: map-get($font-weight-alpha, bold);

    @media #{$medium-up} {
        font-size: rem-calc(81px);
    }
}

.page__sub,
.post__sub {
    color: #8d8d8d;
    display: block;
    font-weight: map-get($font-weight-alpha, regular);
    font-family: 'Playfair Display';
}

.post__sub {
    font-size: rem-calc(18px);
    line-height: 1em;
}

.page__sub {
    font-size: rem-calc(18px);
    line-height: 1.2em;
    margin: 15px auto 0;

    @media #{$medium-up} {
        max-width: 500px;
        font-size: rem-calc(24px);
    }
}

.page__sub--small {
    font-size: rem-calc(18px);
}



.gutenberg {
    @import 'type-gutenberg';
}

.faded {
    color: lighten(#161920, 45%) !important;
    font-size: rem-calc(16px);
}


hr.flare {
    background: url(../../../_assets/img/flare.png) no-repeat center center;
    height: 34px;
    width: 100%;
    border: 0;
    margin: em-calc(40px) 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #555;
    margin: 1em 0;
    padding: 0;
}

.meta {
    color: #8d8d8d;
    display: block;
    font-size: rem-calc(14px);
    font-weight: map-get($font-weight-alpha, regular);
}

.meta--post {
    margin: 10px 0 20px;
}

.sub-heading {
    @extend %font-family-beta;
    font-size: rem-calc(14px);
    line-height: rem-calc(22px);
    color: #fff;
    top: -7px;
}
