.sidebar {
    @media #{$medium-up} {
        padding-top: rem-calc(40px);
    }
}

.widget {
    border-bottom: 1px solid #eee;
    margin-bottom: rem-calc(15px);
    padding-bottom: rem-calc(15px);
    position: relative;
    width: 100%;

    &:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;

        @media #{$medium-up} {
            border-bottom: 1px solid #eee;
        }
    }
}

.widget__title {
    @extend %font-family-beta;
    color: #1d2029;
    font-size: rem-calc(18px);
    font-weight: regular;
    text-transform: uppercase;
}

.widget__list {
    margin: 0;
    padding: 0 0 0 15px;
}

.widget__list__item,
.widget__copy {
    @extend %font-family-copy;

    color: #989898;
    font-size: rem-calc(14px);
    font-weight: regular;
    line-height: rem-calc(27px);

    a {
        color: inherit;
    }
}
