---
layout: page
title: Alex Pate is a digital designer in London, working the front-end at Pusher.
meta: 'Profile &amp; Information <span class="arrow--right">→</span>'
metaLink: '/profile/'
bodyClass: home
pageSize: page__article--full
permalink: /
gutenberg: false
---

<h3 class="stream-title">The latest projects and posts</h3>

<div class="grid stream">

    {% for post in site.posts %}

      <a class="stream-item{% if post.category == 'project' %} stream-item--project {{post.slug}}{% endif %}" href="{{ post.url }}" itemscope="" itemtype="http://schema.org/BlogPosting" alt="{{ post.title }}" title="{{ post.title }}">
        <div>
          <h3 class="stream-item__title">{{ post.title }}</h3>
          <span class="stream-item__sub">
            {% if post.category == 'project' %}
              {{ post.sub }}
            {% else %}
              <time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | prettyDate }}</time>
            {% endif %}
          </span>
        </div>
      </a>

    {% endfor %}

</div>