---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<section class="section home-hero">
  <div class="orbs">
    <div id="orb1"></div>
    <div id="orb2"></div>
    <div id="orb3"></div>
  </div>

  <h1>A web engineer interested in design systems and closing the gap between design and development</h1>
  <p>👋 Hey I'm Alex, a design-focused engineer based in Milan. I'm currently working at
    Monzo building the next-generation of web based banking tools.</p>

  <p>
    <a href="/profile">View profile →</a>
  </p>
</section>

<section class="section">
  <h2>Selected work</h2>

  {% for post in collections.featuredProjects | reverse %}
    <a class="selected-project" href="{{post.url | url }}">
      <figure>
        <img src="/img/featured-images/{{ post.data.featured_image }}" alt="{{post.data.title}}" />
      </figure>
      <div>
        <h3>{{ post.data.title}}</h3>
        <p>{{ post.data.description }} <br /> <br />Read more → </p>
      </div>
    </a>
  {% endfor %}

   <p>
    <a href="/projects">View all work →</a>
  </p>
</section>