---
layout: layouts/home.njk
---

<section class="section">
  <h1>Profile</h1>

   <p>
    I'm a design-focused engineer based in London. My current role at Monzo,
    focuses on building tooling to improve the design workflow of designers,
    engineers, and user researchers.
  </p>
  <p>
    My work has been featured on Awwwards, and I've written for Web Designer
    Magazine and net Magazine.
  </p>

  <h2>Experience</h2>
  <p>
    As a web engineer at Monzo, I've led engineering on several high-profile
    projects including Year in Monzo. Likewise, I've helped launch our first
    public web banking app.
  </p>
  <p>
    Before Monzo, I spent 2 years at Kalo (now Polywork) building products to
    help freelancers and businesses work more seamlessly together.
  </p>
  <p>
    Prior to this, I worked at Pusher as a hybrid designer and developer working
    with the product team to evolve the client dashboard. I also contributed in
    a DevRel capacity, helping introduce Pusher to new developers at several
    tech conferences around the world.
  </p>

  <h2>Get in touch</h2>
  <p>You can find me at various places around the web, including <a href="https://twitter.com/alexjpate">Twitter</a>, <a href="https://github.com/alexpate">GitHub</a>, and <a href="https://dribbble.com/alexpate">Dribbble</a>. Or send me an email on hello@alexpate.uk</p>
</section>