@font-face {
  font-family: "NeueHaasUnica";
  src: url("./static/nhup.woff2") format("woff2");
}

:root {
  --spacing-unit: 8px;
  --spacing-sm: var(--spacing-unit);
  --spacing-md: calc(var(--spacing-unit) * 2);
  --spacing-lg: calc(var(--spacing-unit) * 3);
  --spacing-xl: calc(var(--spacing-unit) * 4);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #F7F9FC;
}

html {
  font-size: 0.9rem;
}

@media screen and (min-width: 40em) {
  html {
    font-size: 1rem;
  }
}

body {
  color: #161E40;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "NeueHaasUnica", sans-serif;
}

@media screen and (min-width: 40em) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

p {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  max-width: 640px;
  padding: var(--spacing-lg);
}

@media screen and (min-width: 40em) {
  main {
    padding: var(--spacing-xl);
  }
}

.section {
  padding: var(--spacing-xl) 0;
}

.section + .section {
  border-top: 2px solid red;
}

.memoji {
  margin-top: 20vh;
}

.social-links {
  list-style: none;
  padding: 0;
}

a[href^="https://twitter.com"] {
  color: #55acee;
}

a[href^="https://github.com"] {
  color: #aaa;
}

a[href^="https://dribbble.com"] {
  color: #ea4c89;
}

ul p {
  margin: 0;
}


.selected-project {
  margin-bottom: var(--spacing-md);
  display: flex;
}

.selected-project figure {
  margin: 0;
  flex: 1.5;
  margin-right: var(--spacing-md);
}

.selected-project div {
  flex: 1;
}

.selected-project figure img {
  max-width: 100%;
  border-radius: 5px;
}

.selected-project p {
  font-size: 1rem;
}

.selected-project h3 {
  margin: 0;
}