<div class="author-byline">
  {% img 2015/10/alex.png class:"author-byline__img" itemprop:"logo" alt:"Alex Pate" %}
  <h2 class="author-byline__author">Posted by <span itemprop="author publisher">{{ site.author.name }}</span></h2>
  <span class="author-byline__copy">{{ site.author.description }} I'm available for small projects. Interested in working together? <a href="mailto:{{ site.email_secure }}?subject=Hey there!">Get in touch</a>, or take a look at my <a href="https://alexpate.s3.amazonaws.com/resume.pdf">resume.</a></span>
</div>