<footer class="footer" role="contentinfo">
  <div class="grid">
    <div class="grid__small-12 grid__columns">
      <hr>
      <span class="footer__copy" itemscope itemtype="http://schema.org/Organization">
        <link itemprop="url" href="https://alexpate.uk"> 
          &copy; {{ site.time | date: '%Y' }}
          -
          <a href="{{ site.social.twitter }}" rel="me" itemprop="sameAs">Twitter</a>
          -
          <a href="{{ site.social.codepen }}" rel="me" itemprop="sameAs">CodePen</a>
          -
          <a href="{{ site.social.dribbble }}" rel="me" itemprop="sameAs">Dribbble</a>
          -
          <a href="http://github.com/alexpate/alexpate.uk">View Source</a>
      </span>
    </div>
  </div>
</footer>