<footer class="footer" role="contentinfo">
    <div class="inner">
        <span class="footer__copy">
            &copy; 2015
            -
            <a href="{{ site.social.twitter }}" rel="me">Twitter</a>
            -
            <a href="{{ site.social.instagram }}" rel="me">Instagram</a>
            -
            <a href="{{ site.social.dribbble }}" rel="me">Dribbble</a>
        </span>
    </div>
</footer>

<!-- Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41936976-3', 'auto');
    ga('send', 'pageview');
</script>

<!-- Scripts -->
{% javascript js/app.js %}