<header class="header" role="banner">
    <div class="inner">
        <a href="{{ site.baseurl }}" class="header__logo" rel="home">alexpate</a>
        <nav class="header__nav" role="navigation">
            <ul class="nav-main">
                <li class="header__nav__item">
                    <a href="{{ site.baseurl }}" title="hello">Work</a>
                </li>
                <li class="header__nav__item {% if page.url == "/profile/" %} header__nav__item--current{% endif %}">
                    <a href="{{ site.baseurl }}profile/" title="hello">Profile</a>
                </li>
                <li class="header__nav__item {% if page.url == "/journal/" %} header__nav__item--current{% endif %}">
                    <a href="{{ site.baseurl }}journal/" title="hello">Journal</a>
                </li>
            </ul>
        </nav>
    </div>
</header>