<header class="header" role="banner">
    <div class="inner">
        <span class="availability availability--full">
            <span class="availability__tip">Full Availability</span>
            <span class="availability__rings"></span>
        </span>
        <a href="{{ site.baseurl }}" class="header__logo" rel="home">Alex Pate</a>
        <nav class="header__nav" role="navigation">
            <ul class="nav-main">
                <li class="header__nav__item">
                    <a href="#" title="hello">Work</a>
                </li>
                <li class="header__nav__item {% if page.url == "/information/" %} header__nav__item--current{% endif %}">
                    <a href="{{ site.baseurl }}profile/" title="hello">Profile</a>
                </li>
                <li class="header__nav__item {% if page.url == "/journal/" %} header__nav__item--current{% endif %}">
                    <a href="{{ site.baseurl }}journal/" title="hello">Journal</a>
                </li>
            </ul>
        </nav>
    </div>
</header>