<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <title itemprop="name">{% if page.url == "/" %}{{ site.title }}{% elsif page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#00f">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="description" content="{{ description }}">

    <link rel="shortcut icon" href="{% asset_path favicon.png %}">

    <link rel="author" href="{{ site.social.google }}">

    <link rel="dns-prefetch" href="https://dn9zc8o6p92dz.cloudfront.net">

    {% stylesheet base.css media="screen, handheld" %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" itemprop="url">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    {% if site.environment == 'production' %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ site.social.twitter_handle | prepend: '@' }}" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{% asset_path graph.png %}" />
    {% endif %}

    <script async>
        document.documentElement.className = "js";
    </script>
</head>
