<header class="header" role="banner">
    <a href="/" class="header__logo" rel="home">alexpate<span>.</span></a>
    <nav class="header__nav" role="navigation">
        <ul class="nav-main">
            <li class="header__nav__item {% if page.url contains "/work/" %} header__nav__item--current{% endif %}">
                <a href="/" title="hello">Work</a>
            </li>
            <li class="header__nav__item {% if page.url == "/profile/" %} header__nav__item--current{% endif %}">
                <a href="/profile/" title="hello">Profile</a>
            </li>
            <li class="header__nav__item {% if page.url contains "/journal/" %} header__nav__item--current{% endif %}">
                <a href="/journal/" title="hello">Journal</a>
            </li>
        </ul>
    </nav>
</header>
