<header class="header" role="banner">
  <div class="grid">

    <div class="grid__small-3 grid__medium-4 grid__columns">
      <a href="/" class="header__logo" rel="home" alt="Home" title="Home">alexpate<span>.</span></a>
    </div>

    <div class="grid__small-9 grid__medium-8 grid__columns">
      <nav class="header__nav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">

        <ul class="nav-main">
          <li class="header__nav__item {% if page.url == "/" %} header__nav__item--current{% endif %}">
            <a href="/" itemprop="url" alt="Stream" title="Stream">
              <span itemprop="name">Stream</span>
            </a>
          </li>

          <li class="header__nav__item {% if page.url == "/profile/" %} header__nav__item--current{% endif %}">
            <a href="/profile/" itemprop="url" alt="Profile" title="Profile">
              <span itemprop="name">Profile</span>
            </a>
          </li>

          <li class="header__nav__item">
            <a href="https://alexpate.s3.amazonaws.com/resume.pdf" itemprop="url" alt="Resume" title="Resume">
              <span itemprop="name">Resume</span>
            </a>
          </li>
          
        </ul>

      </nav>
    </div>

  </div>
</header>
