<header class="header" role="banner">
  <div class="grid">
    <a href="/" class="header__logo" rel="home" title="Home">alexpate<span>.</span></a>

    <nav class="header__nav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <ul class="nav-main">
        <li class="header__nav__item {% if page.url == "/" %} header__nav__item--current{% endif %}">
          <a href="/" itemprop="url" title="Stream">
            <span itemprop="name">Stream</span>
          </a>
        </li>
        <li class="header__nav__item {% if page.url == "/profile/" %} header__nav__item--current{% endif %}">
          <a href="/profile/" itemprop="url" title="Profile">
            <span itemprop="name">Profile</span>
          </a>
        </li>
        <li class="header__nav__item">
          <a href="https://alexpate.s3.amazonaws.com/resume.pdf" itemprop="url" title="Resume">
            <span itemprop="name">Resume</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
