<aside class="site__content--sidebar" role="complementary">
    <div class="widget">
        <span class="widget__title">Recent Posts</span>
        <ul class="widget__list">
        {% for post in site.posts limit:4 %}
            <li class="widget__list__item">
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="widget">
        <span class="widget__title">Around The Web</span>
        <ul class="widget__list">
            <li class="widget__list__item">
                <a href="mailto:{{ site.email_secure }}">{{ site.email_secure }}</a>
            </li>
            <li class="widget__list__item">
                <a href="https://twitter.com/alexjpate">@alexjpate</a>
            </li>
            <li class="widget__list__item">
                <a href="https://instagram.com/alexjpate">Instagram</a>
            </li>
        </ul>
    </div>
    <div class="widget">
        <span class="widget__title">
            <span class="availability availability--{{ site.availability.class }}">
                <span class="availability__rings"></span>
            </span>
            Availability
        </span>
        <p class="widget__copy">I'm currently on the lookout for a full time front-end development job. Interested in hiring me? Check out my <a href="https://alexpate.s3.amazonaws.com/resume.pdf">resume</a>.</p>
    </div>
</aside>