// - - - - - - - - - - - - - - - - - - - - - - - - -
// Inline Alert
// - - - - - - - - - - - - - - - - - - - - - - - - -

.alert {
  width: 100%;
  display: inline-block;
  background-color: #FFFCE9;
  padding: 5px 20px;
  border-radius: 3px;
  margin: 10px 0;
}
