// - - - - - - - - - - - - - - - - - - - - - - - - -
// Inline Alert
// - - - - - - - - - - - - - - - - - - - - - - - - -

.alert {
  background-color: #FFFCE9;
  display: inline-block;
  margin: 10px 0 10px -#{$gutter};
  padding: 5px $gutter;
  width: calc(100% + (#{$gutter} * 2));
  font-size: .9rem;
  line-height: 1.7em;

  @media #{$medium-up} {
    margin: 10px 0;
    width: 100%;
    border-radius: 3px;
  }
}
