// - - - - - - - - - - - - - - - - - - - - - - - - -
// Glitch Effect used on 404
//
// Shamelessly stolen from css-tricks.com/glitch-effect-text-images-svg/
// - - - - - - - - - - - - - - - - - - - - - - - - -

.glitch {
  color: $color-black;
  position: relative;

  &:after,
  &:before {
    width: 100%;
    text-align: center;
    background: $color-white;
    clip: rect(0, 900px, 0, 0);
    color: $color-black;
    content: attr(data-glitch-text);
    overflow: hidden;
    position: absolute;
    top: 0;
  }

  &:before {
    animation: glitch-before 3s infinite linear alternate-reverse;
    left: -2px;
    text-shadow: 1px 0 #00f;
  }

  &:after {
    animation: glitch-after 2s infinite linear alternate-reverse;
    left: 2px;
    text-shadow: -1px 0 #f00;
  }
}

@keyframes glitch-before {
  $steps:20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}

@keyframes glitch-after {
  $steps:20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
