//
// Author Byline
//


//
// ShareThis
//

.share-this {
  @extend .author-byline;
  border-top: 0;
}

//
// Article Images
//


.screen-reader-text {
  display: none;
}

//
// Post Teaser
//

.post-teaser {
  padding: 20px 30px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #eee;
  margin: 10px 0;
  height: 200px;
  display: flex;
  text-decoration: none;
  align-items: center;

  @media #{$medium-up} {
    padding: 30px 60px;
  }

  &:hover {
    border-bottom: 2px solid #eee;
    background-color: #fafafa;
  }
}

.post-teaser__title,
.post-teaser__sub { 
  @extend %font-family-alpha;
  text-align: left;
}

.post-teaser__title {
    font-size: rem-calc(18px);
    font-weight: normal;
    line-height: 1em;
    margin-bottom: rem-calc(10px);

    @media #{$medium-up} {
        font-size: rem-calc(22px);
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.post-teaser__sub {
    @extend .post__meta;
    font-size: rem-calc(15px) !important;
}

//
// Signpost
//

.signpost {
    clear: both;
    margin: em-calc(20px) 0;
    position: relative;
    text-align: left;

    @media #{$medium-up} {
        text-align: center;
    }

    .btn {
        position: relative;
        z-index: 4;
    }

    &:before,
    &:after {
        content: '';
        display: none;
        left: 0;
        position: absolute;

        @media #{$medium-up} {
            display: block;
        }
    }

    &:before {
        background: #ddd;
        height: 1px;
        top: rem-calc(35px);
        width: 100%;
    }

    &:after {
        background: #fff;
        height: 100%;
        margin: 0 auto;
        right: 0;
        top: 0;
        width: 350px;
    }
}

.signpost__helper {
    @extend %font-family-beta;
    display: block;
    font-size: rem-calc(12px);
    position: relative;
    z-index: 4;
    color: #444;
}

.signpost--dark {

    &:before {
        background: lighten($color-black, 5%);
    }

    &:after {
        background: $color-black;
    }
}


//
// Callout
//

.callout {
    border-top: 1px solid #eee;
    height: auto;
    padding: rem-calc(40px) 0;
    text-align: center;
    width: 100%;
}

.callout__title {
    color: $color-black;
    font-size: rem-calc(24px);
}

.callout__copy {
    color: $color-black;
    font-size: rem-calc(16px);
}

//
// Disqus Overrides
//

.active .publisher-nav-color::after {
    background: $color-flare-primary !important;
}

