// - - - - - - - - - - - - - - - - - - - - - - - - -
// Pagination
// - - - - - - - - - - - - - - - - - - - - - - - - -

.paginate {
  border-bottom: 2px solid $color-primary;
  height: auto;
  margin: rem-calc(35px) 0 rem-calc(15px);
  width: 100%;

  &:after {
    clear: both;
    display: table;
    content: '';
  }
}

.paginate__btn {
  font-size: rem-calc(18px);
  font-weight: 400;
  height: auto;
  padding: 20px 0;
  text-decoration: none;
  width: 50%;
  position: relative;
  display: block;
  float: left;
  line-height: 1.3em;

  &--previous {
    text-align: left;
    &:hover {
      .paginate__btn__helper:before {
        transform: translateX(-5px);
      }
    }
  }

  &--next {
    text-align: right;
    &:hover {
      .paginate__btn__helper:after {
        transform: translateX(5px);
      }
    }
  }
}

.paginate__btn__helper {
  @extend %font-family-beta;
  position: relative;
  display: block;
  font-size: rem-calc(14px);
  color: #a7a7a7;

  .paginate__btn--previous &:before,
  .paginate__btn--next &:after {
    position: absolute;
    font-size: rem-calc(16px);
    transform: translateX(0);
    transition: transform 200ms ease-in-out;
  }

  .paginate__btn--previous & {
    text-align: left;
    padding-left: 25px;

    &:before {
      left: 0;
      content: "\2190";
    }
  }

  .paginate__btn--next & {
    text-align: right;
    padding-right: 25px;

    &:after {
      content: "\2192";
      right: 0;
    }
  }
}
