// - - - - - - - - - - - - - - - - - - - - - - - - -
// Pagination
// - - - - - - - - - - - - - - - - - - - - - - - - -

.paginate {
  border-bottom: 2px solid $color-primary;
  height: 50px;
  margin: rem-calc(10px) 0;
  width: 100%;

  &__btn {
    @extend %font-family-beta;
    font-size: rem-calc(16px);
    height: 50px;
    padding-top: 20px;
    text-decoration: none;
    width: 50%;
    position: relative;

    &--previous:before,
    &--next:after {
      position: absolute;
      font-size: rem-calc(16px);
      transform: translateX(0);
      transition: transform 200ms ease-in-out;
    }

    &--previous {
      float: left;
      text-align: left;
      padding-left: 25px;

      &:before {
        left: 0;
        content: "\2190";
      }

      &:hover:before {
        transform: translateX(-5px);
      }
    }

    &--next {
      float: right;
      text-align: right;
      padding-right: 25px;

      &:after {
        content: "\2192";
        right: 0;
      }

      &:hover:after{
        transform: translateX(5px);
      }
    }
  }
}
