.port-grid {
    line-height: 0;
    margin-top: rem-calc(100px);
    position: relative;
    width: 100%;
}

.port-grid__col {
    @include grid-column(12, $collapse: false);

    @media #{$medium-up} {
        @include grid-column($columns: 6, $collapse: false);

        &:last-of-type {
            @include grid-column($columns: 12, $collapse: true);

            .port-grid__item {
                float: left;
                width: 50%;
            }
        }
    }

    @media #{$large-up} {
        @include grid-column($columns: 4, $collapse: false);

        &:last-of-type {
            @include grid-column($columns: 4, $collapse: false);

            .port-grid__item {
                float: none;
                width: 100%;
            }
        }
    }
}

.port-grid__item {
    display: block;
    height: auto;
    position: relative;
    width: 100%;

    img {
        border-radius: 0;
        height: auto;
        max-width: 100%;
    }

    &:after {
        background: #000;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: all .2s ease-in-out;
        width: 100%;
        z-index: 2;
    }

    &:hover:after {
        opacity: .7;
    }
}

.port-grid__copy {
    @extend %font-family-beta;
    bottom: 30px;
    left: 20px;
    position: absolute;
    z-index: 3;
}

.port-grid__title,
.port-grid__date {
    color: #fff;
}

.port-grid__title {
    font-size: rem-calc(24px);
    font-weight: normal;
}

.port-grid__date {
    font-size: rem-calc(16px);
    font-weight: normal;
}

