// - - - - - - - - - - - - - - - - - - - - - - - - -
// Stream
// - - - - - - - - - - - - - - - - - - - - - - - - -

.stream-item {
  margin: 0 0 2em;
  width: 100%;
  height: 160px;
  background-color: #bbc0c5;
  padding: 30px;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none;
  transition: background-color 200ms ease-in-out;
  
  @media #{$medium-up} {
    padding: 30px 90px 30px 40px;
    margin-bottom: 20px;
  }

  &:hover {
    background-color: darken(#c6ced8, 5%);
  }

  &--project {
    height: 260px;

    @media #{$medium-up} {
      height: 460px;
    }

    &.pusher-dashboard {
      background-color: #3cd6ee;
    }

    &.pusher-rebrand {
      background-color: #29ecba;
    }

    &.pusher-chameleon {
      background-color: #fecc25;
      -webkit-animation: hue 40s infinite linear;
    }
  }

  &__title,
  &__sub {
    color: #fff;
  }

  &__title {
    font-size: rem-calc(18px);
    font-weight: normal;
    line-height: 1em;
    margin-bottom: rem-calc(6px);

    @media #{$medium-up} {
      font-size: rem-calc(18px);
    }
  }

  &__sub {
    @extend %font-family-beta;
    font-size: rem-calc(16px);
    position: relative;

    &:after {
      width: 30px;
      height: 4px;
      background-color: #fff;
      display: block;
      content: "";
      position: absolute;
      bottom: -20px;
      transition: bottom 120ms ease-in-out;

      .stream-item:hover & {
        bottom: -24px;
      }
    }
  }
}

.stream {
  margin: 40px auto 0 !important;

  @media #{$medium-up} {
    column-gap: 2em;
    column-count: 2;
  }
}

@-webkit-keyframes hue {
  from {
  -webkit-filter: hue-rotate(0deg);
  }

  to {
  -webkit-filter: hue-rotate(360deg);
  }
}
