//
// Global Variables
// ==================
//

// Typography
$font-family-alpha : 'Sofia Pro', Helvetica Neue, Helvetica, sans-serif;
$font-family-beta : 'Lora', serif;

%font-family-alpha {
    font-family: $font-family-alpha;
}

%font-family-beta {
    font-family: $font-family-beta;
}

$font-weight-alpha: (
    light: 200,
    normal: 400,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700
);

// Color Variables
$color-background: #f6f6f6;
$color-alpha : #161920;
$color-beta : #ffdf00;

$color-type: #272b36;



$color-black : #161920;
$color-white : #fff;


// Misc Variables
$home-page: '.home';
