/*!
  Alex Pate
  @alexjpate

  Built with help from normalize & foundation
*/
body, .post-teaser__title,
.post-teaser__sub, .author-byline__author {
  font-family: "Graphik Web", Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern"; }

.header__logo, .header__nav__item a, .footer__copy, .btn, .signpost__helper, .page__meta, .gutenberg h3, .gutenberg table th, .paginate__btn, .stream-item__sub {
  font-family: "GT Pressura", Courier, monospace; }

p,
table, .author-byline__copy {
  font-family: "Graphik Web", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400; }

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  background-color: #f6f6f6;
  padding: 4px 2px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: auto;
  overflow: auto; }

body {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background-color: #ffffff; }
  body.page--work {
    overflow-x: hidden; }

::-moz-selection {
  background: #161920;
  color: #fff; }

::selection {
  background: #161920;
  color: #fff; }

.global-site {
  position: relative; }

@font-face {
  font-family: 'GT Pressura';
  src: url("/static/fonts/GT-Pressura/GT-Pressura-Mono-Regular.eot");
  src: url("/static/fonts/GT-Pressura/GT-Pressura-Mono-Regular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/GT-Pressura/GT-Pressura-Mono-Regular.woff") format("woff"), url("/static/fonts/GT-Pressura/GT-Pressura-Mono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Graphik Web';
  src: url("/static/fonts/Graphik/Graphik-Regular-Web.eot");
  src: url("/static/fonts/Graphik/Graphik-Regular-Web.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Graphik/Graphik-Regular-Web.woff2") format("woff2"), url("/static/fonts/Graphik/Graphik-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Graphik Web';
  src: url("/static/fonts/Graphik/Graphik-Medium-Web.eot");
  src: url("/static/fonts/Graphik/Graphik-Medium-Web.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Graphik/Graphik-Medium-Web.woff2") format("woff2"), url("/static/fonts/Graphik/Graphik-Medium-Web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }

.grid {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  .grid::before, .grid::after {
    content: ' ';
    display: table;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }
  .grid::after {
    clear: both; }
  .grid.collapse > .grid__columns {
    padding-left: 0;
    padding-right: 0; }
  .grid .grid {
    margin-left: -0.625rem;
    margin-right: -0.625rem; }
    @media screen and (min-width: 40em) {
      .grid .grid {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem; } }
    .grid .grid.grid--collapse {
      margin-left: 0;
      margin-right: 0; }
  .grid.grid--expanded {
    max-width: none; }
    .grid.grid--expanded .grid {
      margin-left: auto;
      margin-right: auto; }

.grid__columns {
  width: 100%;
  float: left;
  padding-left: 0.625rem;
  padding-right: 0.625rem; }
  @media screen and (min-width: 40em) {
    .grid__columns {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
  .grid__columns:last-child:not(:first-child) {
    float: right; }
  .grid__columns.grid--end:last-child:last-child {
    float: left; }

.grid__columns.grid.grid {
  float: none; }
  .grid .grid__columns.grid.grid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; }

.grid__small-1 {
  width: 8.33333%; }

.grid__small-push-1 {
  position: relative;
  left: 8.33333%; }

.grid__small-pull-1 {
  position: relative;
  left: -8.33333%; }

.grid__small-offset-0 {
  margin-left: 0%; }

.grid__small-2 {
  width: 16.66667%; }

.grid__small-push-2 {
  position: relative;
  left: 16.66667%; }

.grid__small-pull-2 {
  position: relative;
  left: -16.66667%; }

.grid__small-offset-1 {
  margin-left: 8.33333%; }

.grid__small-3 {
  width: 25%; }

.grid__small-push-3 {
  position: relative;
  left: 25%; }

.grid__small-pull-3 {
  position: relative;
  left: -25%; }

.grid__small-offset-2 {
  margin-left: 16.66667%; }

.grid__small-4 {
  width: 33.33333%; }

.grid__small-push-4 {
  position: relative;
  left: 33.33333%; }

.grid__small-pull-4 {
  position: relative;
  left: -33.33333%; }

.grid__small-offset-3 {
  margin-left: 25%; }

.grid__small-5 {
  width: 41.66667%; }

.grid__small-push-5 {
  position: relative;
  left: 41.66667%; }

.grid__small-pull-5 {
  position: relative;
  left: -41.66667%; }

.grid__small-offset-4 {
  margin-left: 33.33333%; }

.grid__small-6 {
  width: 50%; }

.grid__small-push-6 {
  position: relative;
  left: 50%; }

.grid__small-pull-6 {
  position: relative;
  left: -50%; }

.grid__small-offset-5 {
  margin-left: 41.66667%; }

.grid__small-7 {
  width: 58.33333%; }

.grid__small-push-7 {
  position: relative;
  left: 58.33333%; }

.grid__small-pull-7 {
  position: relative;
  left: -58.33333%; }

.grid__small-offset-6 {
  margin-left: 50%; }

.grid__small-8 {
  width: 66.66667%; }

.grid__small-push-8 {
  position: relative;
  left: 66.66667%; }

.grid__small-pull-8 {
  position: relative;
  left: -66.66667%; }

.grid__small-offset-7 {
  margin-left: 58.33333%; }

.grid__small-9 {
  width: 75%; }

.grid__small-push-9 {
  position: relative;
  left: 75%; }

.grid__small-pull-9 {
  position: relative;
  left: -75%; }

.grid__small-offset-8 {
  margin-left: 66.66667%; }

.grid__small-10 {
  width: 83.33333%; }

.grid__small-push-10 {
  position: relative;
  left: 83.33333%; }

.grid__small-pull-10 {
  position: relative;
  left: -83.33333%; }

.grid__small-offset-9 {
  margin-left: 75%; }

.grid__small-11 {
  width: 91.66667%; }

.grid__small-push-11 {
  position: relative;
  left: 91.66667%; }

.grid__small-pull-11 {
  position: relative;
  left: -91.66667%; }

.grid__small-offset-10 {
  margin-left: 83.33333%; }

.grid__small-12 {
  width: 100%; }

.grid__small-offset-11 {
  margin-left: 91.66667%; }

.grid__small-up-1 > .grid__columns {
  width: 100%;
  float: left; }
  .grid__small-up-1 > .grid__columns:nth-of-type(1n) {
    clear: none; }
  .grid__small-up-1 > .grid__columns:nth-of-type(1n+1) {
    clear: both; }
  .grid__small-up-1 > .grid__columns:last-child {
    float: left; }

.grid__small-up-2 > .grid__columns {
  width: 50%;
  float: left; }
  .grid__small-up-2 > .grid__columns:nth-of-type(1n) {
    clear: none; }
  .grid__small-up-2 > .grid__columns:nth-of-type(2n+1) {
    clear: both; }
  .grid__small-up-2 > .grid__columns:last-child {
    float: left; }

.grid__small-up-3 > .grid__columns {
  width: 33.33333%;
  float: left; }
  .grid__small-up-3 > .grid__columns:nth-of-type(1n) {
    clear: none; }
  .grid__small-up-3 > .grid__columns:nth-of-type(3n+1) {
    clear: both; }
  .grid__small-up-3 > .grid__columns:last-child {
    float: left; }

.grid__small-up-4 > .grid__columns {
  width: 25%;
  float: left; }
  .grid__small-up-4 > .grid__columns:nth-of-type(1n) {
    clear: none; }
  .grid__small-up-4 > .grid__columns:nth-of-type(4n+1) {
    clear: both; }
  .grid__small-up-4 > .grid__columns:last-child {
    float: left; }

.grid__small-up-5 > .grid__columns {
  width: 20%;
  float: left; }
  .grid__small-up-5 > .grid__columns:nth-of-type(1n) {
    clear: none; }
  .grid__small-up-5 > .grid__columns:nth-of-type(5n+1) {
    clear: both; }
  .grid__small-up-5 > .grid__columns:last-child {
    float: left; }

.grid__small-up-6 > .grid__columns {
  width: 16.66667%;
  float: left; }
  .grid__small-up-6 > .grid__columns:nth-of-type(1n) {
    clear: none; }
  .grid__small-up-6 > .grid__columns:nth-of-type(6n+1) {
    clear: both; }
  .grid__small-up-6 > .grid__columns:last-child {
    float: left; }

.grid__small-up-7 > .grid__columns {
  width: 14.28571%;
  float: left; }
  .grid__small-up-7 > .grid__columns:nth-of-type(1n) {
    clear: none; }
  .grid__small-up-7 > .grid__columns:nth-of-type(7n+1) {
    clear: both; }
  .grid__small-up-7 > .grid__columns:last-child {
    float: left; }

.grid__small-up-8 > .grid__columns {
  width: 12.5%;
  float: left; }
  .grid__small-up-8 > .grid__columns:nth-of-type(1n) {
    clear: none; }
  .grid__small-up-8 > .grid__columns:nth-of-type(8n+1) {
    clear: both; }
  .grid__small-up-8 > .grid__columns:last-child {
    float: left; }

.grid__small-collapse > .grid__columns {
  padding-left: 0;
  padding-right: 0; }

.grid__small-collapse .grid {
  margin-left: 0;
  margin-right: 0; }

.grid__small-uncollapse > .grid__columns {
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

.grid__small-centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.grid__small-uncentered,
.grid__small-push-0,
.grid__small-pull-0 {
  position: static;
  margin-left: 0;
  margin-right: 0;
  float: left; }

@media screen and (min-width: 40em) {
  .grid__medium-1 {
    width: 8.33333%; }
  .grid__medium-push-1 {
    position: relative;
    left: 8.33333%; }
  .grid__medium-pull-1 {
    position: relative;
    left: -8.33333%; }
  .grid__medium-offset-0 {
    margin-left: 0%; }
  .grid__medium-2 {
    width: 16.66667%; }
  .grid__medium-push-2 {
    position: relative;
    left: 16.66667%; }
  .grid__medium-pull-2 {
    position: relative;
    left: -16.66667%; }
  .grid__medium-offset-1 {
    margin-left: 8.33333%; }
  .grid__medium-3 {
    width: 25%; }
  .grid__medium-push-3 {
    position: relative;
    left: 25%; }
  .grid__medium-pull-3 {
    position: relative;
    left: -25%; }
  .grid__medium-offset-2 {
    margin-left: 16.66667%; }
  .grid__medium-4 {
    width: 33.33333%; }
  .grid__medium-push-4 {
    position: relative;
    left: 33.33333%; }
  .grid__medium-pull-4 {
    position: relative;
    left: -33.33333%; }
  .grid__medium-offset-3 {
    margin-left: 25%; }
  .grid__medium-5 {
    width: 41.66667%; }
  .grid__medium-push-5 {
    position: relative;
    left: 41.66667%; }
  .grid__medium-pull-5 {
    position: relative;
    left: -41.66667%; }
  .grid__medium-offset-4 {
    margin-left: 33.33333%; }
  .grid__medium-6 {
    width: 50%; }
  .grid__medium-push-6 {
    position: relative;
    left: 50%; }
  .grid__medium-pull-6 {
    position: relative;
    left: -50%; }
  .grid__medium-offset-5 {
    margin-left: 41.66667%; }
  .grid__medium-7 {
    width: 58.33333%; }
  .grid__medium-push-7 {
    position: relative;
    left: 58.33333%; }
  .grid__medium-pull-7 {
    position: relative;
    left: -58.33333%; }
  .grid__medium-offset-6 {
    margin-left: 50%; }
  .grid__medium-8 {
    width: 66.66667%; }
  .grid__medium-push-8 {
    position: relative;
    left: 66.66667%; }
  .grid__medium-pull-8 {
    position: relative;
    left: -66.66667%; }
  .grid__medium-offset-7 {
    margin-left: 58.33333%; }
  .grid__medium-9 {
    width: 75%; }
  .grid__medium-push-9 {
    position: relative;
    left: 75%; }
  .grid__medium-pull-9 {
    position: relative;
    left: -75%; }
  .grid__medium-offset-8 {
    margin-left: 66.66667%; }
  .grid__medium-10 {
    width: 83.33333%; }
  .grid__medium-push-10 {
    position: relative;
    left: 83.33333%; }
  .grid__medium-pull-10 {
    position: relative;
    left: -83.33333%; }
  .grid__medium-offset-9 {
    margin-left: 75%; }
  .grid__medium-11 {
    width: 91.66667%; }
  .grid__medium-push-11 {
    position: relative;
    left: 91.66667%; }
  .grid__medium-pull-11 {
    position: relative;
    left: -91.66667%; }
  .grid__medium-offset-10 {
    margin-left: 83.33333%; }
  .grid__medium-12 {
    width: 100%; }
  .grid__medium-offset-11 {
    margin-left: 91.66667%; }
  .grid__medium-up-1 > .grid__columns {
    width: 100%;
    float: left; }
    .grid__medium-up-1 > .grid__columns:nth-of-type(1n) {
      clear: none; }
    .grid__medium-up-1 > .grid__columns:nth-of-type(1n+1) {
      clear: both; }
    .grid__medium-up-1 > .grid__columns:last-child {
      float: left; }
  .grid__medium-up-2 > .grid__columns {
    width: 50%;
    float: left; }
    .grid__medium-up-2 > .grid__columns:nth-of-type(1n) {
      clear: none; }
    .grid__medium-up-2 > .grid__columns:nth-of-type(2n+1) {
      clear: both; }
    .grid__medium-up-2 > .grid__columns:last-child {
      float: left; }
  .grid__medium-up-3 > .grid__columns {
    width: 33.33333%;
    float: left; }
    .grid__medium-up-3 > .grid__columns:nth-of-type(1n) {
      clear: none; }
    .grid__medium-up-3 > .grid__columns:nth-of-type(3n+1) {
      clear: both; }
    .grid__medium-up-3 > .grid__columns:last-child {
      float: left; }
  .grid__medium-up-4 > .grid__columns {
    width: 25%;
    float: left; }
    .grid__medium-up-4 > .grid__columns:nth-of-type(1n) {
      clear: none; }
    .grid__medium-up-4 > .grid__columns:nth-of-type(4n+1) {
      clear: both; }
    .grid__medium-up-4 > .grid__columns:last-child {
      float: left; }
  .grid__medium-up-5 > .grid__columns {
    width: 20%;
    float: left; }
    .grid__medium-up-5 > .grid__columns:nth-of-type(1n) {
      clear: none; }
    .grid__medium-up-5 > .grid__columns:nth-of-type(5n+1) {
      clear: both; }
    .grid__medium-up-5 > .grid__columns:last-child {
      float: left; }
  .grid__medium-up-6 > .grid__columns {
    width: 16.66667%;
    float: left; }
    .grid__medium-up-6 > .grid__columns:nth-of-type(1n) {
      clear: none; }
    .grid__medium-up-6 > .grid__columns:nth-of-type(6n+1) {
      clear: both; }
    .grid__medium-up-6 > .grid__columns:last-child {
      float: left; }
  .grid__medium-up-7 > .grid__columns {
    width: 14.28571%;
    float: left; }
    .grid__medium-up-7 > .grid__columns:nth-of-type(1n) {
      clear: none; }
    .grid__medium-up-7 > .grid__columns:nth-of-type(7n+1) {
      clear: both; }
    .grid__medium-up-7 > .grid__columns:last-child {
      float: left; }
  .grid__medium-up-8 > .grid__columns {
    width: 12.5%;
    float: left; }
    .grid__medium-up-8 > .grid__columns:nth-of-type(1n) {
      clear: none; }
    .grid__medium-up-8 > .grid__columns:nth-of-type(8n+1) {
      clear: both; }
    .grid__medium-up-8 > .grid__columns:last-child {
      float: left; }
  .grid__medium-collapse > .grid__columns {
    padding-left: 0;
    padding-right: 0; }
  .grid__medium-collapse .grid {
    margin-left: 0;
    margin-right: 0; }
  .grid__medium-uncollapse > .grid__columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  .grid__medium-centered {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .grid__medium-uncentered,
  .grid__medium-push-0,
  .grid__medium-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left; } }

@media screen and (min-width: 64em) {
  .grid__large-1 {
    width: 8.33333%; }
  .grid__large-push-1 {
    position: relative;
    left: 8.33333%; }
  .grid__large-pull-1 {
    position: relative;
    left: -8.33333%; }
  .grid__large-offset-0 {
    margin-left: 0%; }
  .grid__large-2 {
    width: 16.66667%; }
  .grid__large-push-2 {
    position: relative;
    left: 16.66667%; }
  .grid__large-pull-2 {
    position: relative;
    left: -16.66667%; }
  .grid__large-offset-1 {
    margin-left: 8.33333%; }
  .grid__large-3 {
    width: 25%; }
  .grid__large-push-3 {
    position: relative;
    left: 25%; }
  .grid__large-pull-3 {
    position: relative;
    left: -25%; }
  .grid__large-offset-2 {
    margin-left: 16.66667%; }
  .grid__large-4 {
    width: 33.33333%; }
  .grid__large-push-4 {
    position: relative;
    left: 33.33333%; }
  .grid__large-pull-4 {
    position: relative;
    left: -33.33333%; }
  .grid__large-offset-3 {
    margin-left: 25%; }
  .grid__large-5 {
    width: 41.66667%; }
  .grid__large-push-5 {
    position: relative;
    left: 41.66667%; }
  .grid__large-pull-5 {
    position: relative;
    left: -41.66667%; }
  .grid__large-offset-4 {
    margin-left: 33.33333%; }
  .grid__large-6 {
    width: 50%; }
  .grid__large-push-6 {
    position: relative;
    left: 50%; }
  .grid__large-pull-6 {
    position: relative;
    left: -50%; }
  .grid__large-offset-5 {
    margin-left: 41.66667%; }
  .grid__large-7 {
    width: 58.33333%; }
  .grid__large-push-7 {
    position: relative;
    left: 58.33333%; }
  .grid__large-pull-7 {
    position: relative;
    left: -58.33333%; }
  .grid__large-offset-6 {
    margin-left: 50%; }
  .grid__large-8 {
    width: 66.66667%; }
  .grid__large-push-8 {
    position: relative;
    left: 66.66667%; }
  .grid__large-pull-8 {
    position: relative;
    left: -66.66667%; }
  .grid__large-offset-7 {
    margin-left: 58.33333%; }
  .grid__large-9 {
    width: 75%; }
  .grid__large-push-9 {
    position: relative;
    left: 75%; }
  .grid__large-pull-9 {
    position: relative;
    left: -75%; }
  .grid__large-offset-8 {
    margin-left: 66.66667%; }
  .grid__large-10 {
    width: 83.33333%; }
  .grid__large-push-10 {
    position: relative;
    left: 83.33333%; }
  .grid__large-pull-10 {
    position: relative;
    left: -83.33333%; }
  .grid__large-offset-9 {
    margin-left: 75%; }
  .grid__large-11 {
    width: 91.66667%; }
  .grid__large-push-11 {
    position: relative;
    left: 91.66667%; }
  .grid__large-pull-11 {
    position: relative;
    left: -91.66667%; }
  .grid__large-offset-10 {
    margin-left: 83.33333%; }
  .grid__large-12 {
    width: 100%; }
  .grid__large-offset-11 {
    margin-left: 91.66667%; }
  .grid__large-up-1 > .grid__columns {
    width: 100%;
    float: left; }
    .grid__large-up-1 > .grid__columns:nth-of-type(1n) {
      clear: none; }
    .grid__large-up-1 > .grid__columns:nth-of-type(1n+1) {
      clear: both; }
    .grid__large-up-1 > .grid__columns:last-child {
      float: left; }
  .grid__large-up-2 > .grid__columns {
    width: 50%;
    float: left; }
    .grid__large-up-2 > .grid__columns:nth-of-type(1n) {
      clear: none; }
    .grid__large-up-2 > .grid__columns:nth-of-type(2n+1) {
      clear: both; }
    .grid__large-up-2 > .grid__columns:last-child {
      float: left; }
  .grid__large-up-3 > .grid__columns {
    width: 33.33333%;
    float: left; }
    .grid__large-up-3 > .grid__columns:nth-of-type(1n) {
      clear: none; }
    .grid__large-up-3 > .grid__columns:nth-of-type(3n+1) {
      clear: both; }
    .grid__large-up-3 > .grid__columns:last-child {
      float: left; }
  .grid__large-up-4 > .grid__columns {
    width: 25%;
    float: left; }
    .grid__large-up-4 > .grid__columns:nth-of-type(1n) {
      clear: none; }
    .grid__large-up-4 > .grid__columns:nth-of-type(4n+1) {
      clear: both; }
    .grid__large-up-4 > .grid__columns:last-child {
      float: left; }
  .grid__large-up-5 > .grid__columns {
    width: 20%;
    float: left; }
    .grid__large-up-5 > .grid__columns:nth-of-type(1n) {
      clear: none; }
    .grid__large-up-5 > .grid__columns:nth-of-type(5n+1) {
      clear: both; }
    .grid__large-up-5 > .grid__columns:last-child {
      float: left; }
  .grid__large-up-6 > .grid__columns {
    width: 16.66667%;
    float: left; }
    .grid__large-up-6 > .grid__columns:nth-of-type(1n) {
      clear: none; }
    .grid__large-up-6 > .grid__columns:nth-of-type(6n+1) {
      clear: both; }
    .grid__large-up-6 > .grid__columns:last-child {
      float: left; }
  .grid__large-up-7 > .grid__columns {
    width: 14.28571%;
    float: left; }
    .grid__large-up-7 > .grid__columns:nth-of-type(1n) {
      clear: none; }
    .grid__large-up-7 > .grid__columns:nth-of-type(7n+1) {
      clear: both; }
    .grid__large-up-7 > .grid__columns:last-child {
      float: left; }
  .grid__large-up-8 > .grid__columns {
    width: 12.5%;
    float: left; }
    .grid__large-up-8 > .grid__columns:nth-of-type(1n) {
      clear: none; }
    .grid__large-up-8 > .grid__columns:nth-of-type(8n+1) {
      clear: both; }
    .grid__large-up-8 > .grid__columns:last-child {
      float: left; }
  .grid__large-collapse > .grid__columns {
    padding-left: 0;
    padding-right: 0; }
  .grid__large-collapse .grid {
    margin-left: 0;
    margin-right: 0; }
  .grid__large-uncollapse > .grid__columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  .grid__large-centered {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .grid__large-uncentered,
  .grid__large-push-0,
  .grid__large-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left; } }

.highlight {
  background: #f6f6f6;
  margin: 30px 0;
  padding: 16px; }
  .highlight code,
  .highlight pre {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    text-shadow: 0 1px #fff;
    font-size: 14px;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    background-color: transparent; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #07A; }
  .highlight .na {
    color: #690; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #905; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

.header {
  height: 100px;
  padding: 40px 0;
  position: relative;
  width: 100%;
  z-index: 10; }

.header__logo {
  color: #333;
  display: inline-block;
  font-size: 0.875rem;
  text-decoration: none;
  width: 100px; }
  .header__logo span {
    color: #00f;
    font-size: 1.875rem;
    line-height: 0; }

.header__nav {
  display: inline-block;
  float: right;
  position: relative; }
  .header__nav ul {
    float: right;
    margin: 0;
    padding: 0; }

.header__nav__item {
  display: inline-block;
  position: relative; }
  .header__nav__item:not(:last-of-type) {
    margin-right: 10px;
    padding-right: 10px; }
    .header__nav__item:not(:last-of-type):after {
      color: #00f;
      content: '/';
      position: relative;
      right: -10px;
      top: 0; }
  .header__nav__item a {
    color: #333;
    font-size: 0.875rem;
    text-decoration: none; }

.header__nav__item--current a {
  font-weight: bold; }

body.nav--light .header__logo,
body.nav--light .header__logo span,
body.nav--light .header__nav__item a,
body.nav--light .header__nav__item:not(:last-of-type):after {
  color: #fff; }

body.nav--light .header__nav__item--current {
  border-color: #fff; }

.footer {
  clear: both;
  padding: 30px 0 50px; }

.footer__copy {
  color: #999;
  display: block;
  font-size: .8em;
  text-align: left; }
  @media screen and (min-width: 40em) {
    .footer__copy {
      text-align: center; } }
  .footer__copy a {
    color: inherit;
    text-decoration: none; }
    .footer__copy a:hover {
      color: #333; }

.btn {
  background: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #ccc;
  display: inline-block;
  line-height: .9em;
  margin: 0.625rem 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: auto; }
  .btn:hover {
    background: #00f;
    border-color: #0000e6;
    color: #fff; }

.btn--small {
  font-size: 0.6875rem;
  padding: 10px 20px; }

.btn--medium {
  font-size: 0.9375rem;
  padding: 10px 30px; }

.btn--massive {
  background: #161920;
  border-color: black;
  color: #fff;
  font-size: 0.875rem;
  padding: 15px 50px;
  text-transform: none; }

.btn--dark {
  background: #161920;
  border: 1px solid #555;
  color: #777; }
  .btn--dark:hover {
    border-color: #333; }

.share-this {
  border-top: 0; }

.screen-reader-text {
  display: none; }

.post-teaser {
  padding: 20px 30px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #eee;
  margin: 10px 0;
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (min-width: 40em) {
    .post-teaser {
      padding: 30px 60px; } }
  .post-teaser:hover {
    border-bottom: 2px solid #eee;
    background-color: #fafafa; }

.post-teaser__title,
.post-teaser__sub {
  text-align: left; }

.post-teaser__title {
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 0.625rem; }
  @media screen and (min-width: 40em) {
    .post-teaser__title {
      font-size: 1.375rem; } }
  .post-teaser__title a {
    color: inherit;
    text-decoration: none; }

.post-teaser__sub {
  font-size: 0.9375rem !important; }

.signpost {
  clear: both;
  margin: em-calc(20px) 0;
  position: relative;
  text-align: left; }
  @media screen and (min-width: 40em) {
    .signpost {
      text-align: center; } }
  .signpost .btn {
    position: relative;
    z-index: 4; }
  .signpost:before, .signpost:after {
    content: '';
    display: none;
    left: 0;
    position: absolute; }
    @media screen and (min-width: 40em) {
      .signpost:before, .signpost:after {
        display: block; } }
  .signpost:before {
    background: #ddd;
    height: 1px;
    top: 2.1875rem;
    width: 100%; }
  .signpost:after {
    background: #fff;
    height: 100%;
    margin: 0 auto;
    right: 0;
    top: 0;
    width: 350px; }

.signpost__helper {
  display: block;
  font-size: 0.75rem;
  position: relative;
  z-index: 4;
  color: #444; }

.signpost--dark:before {
  background: #20252f; }

.signpost--dark:after {
  background: #161920; }

.callout {
  border-top: 1px solid #eee;
  height: auto;
  padding: 2.5rem 0;
  text-align: center;
  width: 100%; }

.callout__title {
  color: #161920;
  font-size: 1.5rem; }

.callout__copy {
  color: #161920;
  font-size: 1rem; }

.active .publisher-nav-color::after {
  background: #00f !important; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #161920;
  margin: 0;
  padding: 0; }

.page__title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2em;
  color: #00f; }
  @media screen and (min-width: 40em) {
    .page__title {
      font-size: 1.75rem;
      text-align: center; } }

.page__meta {
  color: #b3b3ff;
  display: block;
  font-weight: normal;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.2em;
  margin: 0.625rem 0; }
  @media screen and (min-width: 40em) {
    .page__meta {
      text-align: center; } }
  .work__header .page__meta {
    color: rgba(255, 255, 255, 0.7); }

.gutenberg p {
  color: #272b36;
  font-size: 1rem;
  line-height: 1.875rem;
  margin: 0 0 0.9375rem; }
  .gutenberg p:first-of-type {
    color: #1c1f27;
    font-size: 1.1875rem;
    line-height: 1.9375rem; }
  .gutenberg p.no-first-of:first-of-type {
    color: #272b36;
    font-size: 1.0625rem; }
  .gutenberg p strong {
    font-weight: 500; }

.gutenberg a:not(.btn) {
  color: #00f; }

.gutenberg.no-first-of p:first-of-type {
  color: #272b36;
  font-size: 1.0625rem; }

.gutenberg h2 {
  font-size: 1rem;
  font-weight: 500;
  margin: 1.25rem 0; }
  .gutenberg h2 span {
    color: #bbb;
    font-size: 0.875rem; }

.gutenberg h3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4em;
  color: #8E97A9; }
  .gutenberg h3 span {
    font-size: 0.8125rem;
    color: #abb2bf; }

.gutenberg .inline-image {
  display: block;
  margin: 2.5rem auto; }

.gutenberg img:not(.author-byline__img) {
  width: 100%;
  -webkit-border-radius: 0;
  border-radius: 0;
  max-width: none;
  margin: 1.25rem 0; }
  @media screen and (min-width: 40em) {
    .gutenberg img:not(.author-byline__img) {
      width: -webkit-calc(100% + 200px);
      width: calc(100% + 200px);
      margin: 2.5rem 0 2.5rem -6.25rem; } }

.gutenberg table {
  display: table;
  margin: 1.25rem 0;
  width: 100%; }
  .gutenberg table th {
    padding: 8px 10px;
    background: #eee;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left; }
  .gutenberg table tr {
    background: #fff; }
    .gutenberg table tr:nth-child(even) {
      background: #f5f5f5; }
  .gutenberg table td {
    padding: 8px 10px; }
  .gutenberg table em {
    font-style: normal;
    text-decoration: underline; }

.gutenberg ul li,
.gutenberg ol li {
  padding: 5px 0; }

.gutenberg blockquote {
  margin: 0;
  padding: 0 0 0 20px;
  padding: 20px 0;
  text-align: center;
  border-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #eee;
  border-style: solid; }

.faded {
  color: #7985a3 !important;
  font-size: 1rem; }

hr {
  border: 0;
  border-top: 1px solid #eee;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0; }

a {
  color: #00f; }

.glitch {
  color: #161920;
  position: relative; }

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(57px, 9999px, 48px, 0); }
  5% {
    clip: rect(34px, 9999px, 86px, 0); }
  10% {
    clip: rect(59px, 9999px, 69px, 0); }
  15% {
    clip: rect(56px, 9999px, 95px, 0); }
  20% {
    clip: rect(98px, 9999px, 99px, 0); }
  25% {
    clip: rect(51px, 9999px, 16px, 0); }
  30% {
    clip: rect(61px, 9999px, 23px, 0); }
  35% {
    clip: rect(100px, 9999px, 6px, 0); }
  40% {
    clip: rect(60px, 9999px, 65px, 0); }
  45% {
    clip: rect(94px, 9999px, 91px, 0); }
  50% {
    clip: rect(22px, 9999px, 62px, 0); }
  55% {
    clip: rect(79px, 9999px, 83px, 0); }
  60% {
    clip: rect(75px, 9999px, 31px, 0); }
  65% {
    clip: rect(92px, 9999px, 58px, 0); }
  70% {
    clip: rect(3px, 9999px, 13px, 0); }
  75% {
    clip: rect(70px, 9999px, 96px, 0); }
  80% {
    clip: rect(8px, 9999px, 40px, 0); }
  85% {
    clip: rect(29px, 9999px, 75px, 0); }
  90% {
    clip: rect(63px, 9999px, 93px, 0); }
  95% {
    clip: rect(68px, 9999px, 20px, 0); }
  100% {
    clip: rect(56px, 9999px, 29px, 0); } }

@keyframes noise-anim {
  0% {
    clip: rect(57px, 9999px, 48px, 0); }
  5% {
    clip: rect(34px, 9999px, 86px, 0); }
  10% {
    clip: rect(59px, 9999px, 69px, 0); }
  15% {
    clip: rect(56px, 9999px, 95px, 0); }
  20% {
    clip: rect(98px, 9999px, 99px, 0); }
  25% {
    clip: rect(51px, 9999px, 16px, 0); }
  30% {
    clip: rect(61px, 9999px, 23px, 0); }
  35% {
    clip: rect(100px, 9999px, 6px, 0); }
  40% {
    clip: rect(60px, 9999px, 65px, 0); }
  45% {
    clip: rect(94px, 9999px, 91px, 0); }
  50% {
    clip: rect(22px, 9999px, 62px, 0); }
  55% {
    clip: rect(79px, 9999px, 83px, 0); }
  60% {
    clip: rect(75px, 9999px, 31px, 0); }
  65% {
    clip: rect(92px, 9999px, 58px, 0); }
  70% {
    clip: rect(3px, 9999px, 13px, 0); }
  75% {
    clip: rect(70px, 9999px, 96px, 0); }
  80% {
    clip: rect(8px, 9999px, 40px, 0); }
  85% {
    clip: rect(29px, 9999px, 75px, 0); }
  90% {
    clip: rect(63px, 9999px, 93px, 0); }
  95% {
    clip: rect(68px, 9999px, 20px, 0); }
  100% {
    clip: rect(56px, 9999px, 29px, 0); } }

.glitch:after {
  -webkit-animation: noise-anim 2s infinite linear alternate-reverse;
  animation: noise-anim 2s infinite linear alternate-reverse;
  background: #fff;
  clip: rect(0, 900px, 0, 0);
  color: #161920;
  content: attr(data-glitch-text);
  left: 2px;
  overflow: hidden;
  position: absolute;
  text-shadow: -1px 0 #f00;
  top: 0; }

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(8px, 9999px, 20px, 0); }
  5% {
    clip: rect(61px, 9999px, 80px, 0); }
  10% {
    clip: rect(98px, 9999px, 42px, 0); }
  15% {
    clip: rect(64px, 9999px, 78px, 0); }
  20% {
    clip: rect(86px, 9999px, 26px, 0); }
  25% {
    clip: rect(79px, 9999px, 4px, 0); }
  30% {
    clip: rect(59px, 9999px, 73px, 0); }
  35% {
    clip: rect(15px, 9999px, 95px, 0); }
  40% {
    clip: rect(41px, 9999px, 86px, 0); }
  45% {
    clip: rect(15px, 9999px, 32px, 0); }
  50% {
    clip: rect(9px, 9999px, 39px, 0); }
  55% {
    clip: rect(8px, 9999px, 89px, 0); }
  60% {
    clip: rect(24px, 9999px, 32px, 0); }
  65% {
    clip: rect(32px, 9999px, 53px, 0); }
  70% {
    clip: rect(47px, 9999px, 18px, 0); }
  75% {
    clip: rect(90px, 9999px, 31px, 0); }
  80% {
    clip: rect(9px, 9999px, 16px, 0); }
  85% {
    clip: rect(81px, 9999px, 76px, 0); }
  90% {
    clip: rect(63px, 9999px, 5px, 0); }
  95% {
    clip: rect(26px, 9999px, 57px, 0); }
  100% {
    clip: rect(13px, 9999px, 76px, 0); } }

@keyframes noise-anim-2 {
  0% {
    clip: rect(8px, 9999px, 20px, 0); }
  5% {
    clip: rect(61px, 9999px, 80px, 0); }
  10% {
    clip: rect(98px, 9999px, 42px, 0); }
  15% {
    clip: rect(64px, 9999px, 78px, 0); }
  20% {
    clip: rect(86px, 9999px, 26px, 0); }
  25% {
    clip: rect(79px, 9999px, 4px, 0); }
  30% {
    clip: rect(59px, 9999px, 73px, 0); }
  35% {
    clip: rect(15px, 9999px, 95px, 0); }
  40% {
    clip: rect(41px, 9999px, 86px, 0); }
  45% {
    clip: rect(15px, 9999px, 32px, 0); }
  50% {
    clip: rect(9px, 9999px, 39px, 0); }
  55% {
    clip: rect(8px, 9999px, 89px, 0); }
  60% {
    clip: rect(24px, 9999px, 32px, 0); }
  65% {
    clip: rect(32px, 9999px, 53px, 0); }
  70% {
    clip: rect(47px, 9999px, 18px, 0); }
  75% {
    clip: rect(90px, 9999px, 31px, 0); }
  80% {
    clip: rect(9px, 9999px, 16px, 0); }
  85% {
    clip: rect(81px, 9999px, 76px, 0); }
  90% {
    clip: rect(63px, 9999px, 5px, 0); }
  95% {
    clip: rect(26px, 9999px, 57px, 0); }
  100% {
    clip: rect(13px, 9999px, 76px, 0); } }

.glitch:before {
  -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
  animation: noise-anim-2 3s infinite linear alternate-reverse;
  background: #fff;
  clip: rect(0, 900px, 0, 0);
  color: #161920;
  content: attr(data-glitch-text);
  left: -2px;
  overflow: hidden;
  position: absolute;
  text-shadow: 1px 0 #00f;
  top: 0; }

.arrow--right {
  font-family: 'Helvetica Neue', Arial, sans-serif; }

.page__header,
.page__article {
  width: 100%; }

.page__header {
  padding: 3.125rem 0 1.5625rem; }
  @media screen and (min-width: 40em) {
    .page__header {
      padding: 6.25rem 0 3.125rem;
      max-width: 600px;
      margin: 0 auto; } }

.work__header {
  height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden; }
  @media screen and (min-width: 40em) {
    .work__header {
      height: -webkit-calc(80vh - 200px);
      height: calc(80vh - 200px);
      min-height: 400px; } }
  .work__header > .grid__columns {
    z-index: 5;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .work__header .page__title {
    color: #fff; }
  .work__header.pusher-chameleon {
    background: #fecc25;
    -webkit-animation: hue 40s infinite linear; }
  .work__header.pusher-dashboard {
    background: -webkit-gradient(linear, left top, right top, from(#8a6fd5), to(#6ec8fb));
    background: -webkit-linear-gradient(left, #8a6fd5, #6ec8fb);
    background: linear-gradient(to right, #8a6fd5, #6ec8fb); }
  .work__header.pusher-rebrand {
    background-color: #0d3357; }

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg); }
  to {
    -webkit-filter: hue-rotate(360deg); } }

.work__article {
  padding-top: 60px; }

.pusher-dashboard-svg-feature {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 700px;
  opacity: .4; }
  .pusher-dashboard-svg-feature #line-offset {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    -webkit-animation: line-animation 2000ms linear forwards;
    animation: line-animation 2000ms linear forwards; }
  .pusher-dashboard-svg-feature .points__point {
    opacity: 0;
    -webkit-animation: points-animation 200ms linear forwards;
    animation: points-animation 200ms linear forwards; }
  .pusher-dashboard-svg-feature .points__point:nth-of-type(1) {
    -webkit-animation-delay: 1700ms;
    animation-delay: 1700ms; }
  .pusher-dashboard-svg-feature .points__point:nth-of-type(2) {
    -webkit-animation-delay: 1800ms;
    animation-delay: 1800ms; }
  .pusher-dashboard-svg-feature .points__point:nth-of-type(3) {
    -webkit-animation-delay: 1900ms;
    animation-delay: 1900ms; }
  .pusher-dashboard-svg-feature .points__point:nth-of-type(4) {
    -webkit-animation-delay: 2000ms;
    animation-delay: 2000ms; }
  .pusher-dashboard-svg-feature .points__point:nth-of-type(5) {
    -webkit-animation-delay: 2100ms;
    animation-delay: 2100ms; }
  .pusher-dashboard-svg-feature .points__point:nth-of-type(6) {
    -webkit-animation-delay: 2200ms;
    animation-delay: 2200ms; }
  .pusher-dashboard-svg-feature .points__point:nth-of-type(7) {
    -webkit-animation-delay: 2300ms;
    animation-delay: 2300ms; }
  .pusher-dashboard-svg-feature .points__point:nth-of-type(8) {
    -webkit-animation-delay: 2400ms;
    animation-delay: 2400ms; }
  .pusher-dashboard-svg-feature .points__point:nth-of-type(9) {
    -webkit-animation-delay: 2500ms;
    animation-delay: 2500ms; }
  .pusher-dashboard-svg-feature .points__point:nth-of-type(10) {
    -webkit-animation-delay: 2600ms;
    animation-delay: 2600ms; }
  .pusher-dashboard-svg-feature .points__point:nth-of-type(11) {
    -webkit-animation-delay: 2700ms;
    animation-delay: 2700ms; }
  .pusher-dashboard-svg-feature .points__point:nth-of-type(12) {
    -webkit-animation-delay: 2800ms;
    animation-delay: 2800ms; }

@-webkit-keyframes line-animation {
  to {
    stroke-dashoffset: 0; } }

@keyframes line-animation {
  to {
    stroke-dashoffset: 0; } }

@-webkit-keyframes points-animation {
  to {
    opacity: 1; } }

@keyframes points-animation {
  to {
    opacity: 1; } }

.paginate {
  border-bottom: 2px solid #00f;
  height: 50px;
  margin: 0.625rem 0;
  width: 100%; }
  .paginate__btn {
    font-size: 1rem;
    height: 50px;
    padding-top: 20px;
    text-decoration: none;
    width: 50%;
    position: relative; }
    .paginate__btn--previous:before, .paginate__btn--next:after {
      position: absolute;
      font-size: 1rem;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: -webkit-transform 200ms ease-in-out;
      transition: -webkit-transform 200ms ease-in-out;
      transition: transform 200ms ease-in-out;
      transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out; }
    .paginate__btn--previous {
      float: left;
      text-align: left;
      padding-left: 25px; }
      .paginate__btn--previous:before {
        left: 0;
        content: "\2190"; }
      .paginate__btn--previous:hover:before {
        -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        transform: translateX(-5px); }
    .paginate__btn--next {
      float: right;
      text-align: right;
      padding-right: 25px; }
      .paginate__btn--next:after {
        content: "\2192";
        right: 0; }
      .paginate__btn--next:hover:after {
        -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
        transform: translateX(5px); }

.author-byline, .share-this {
  border-bottom: 2px solid #eee;
  padding: 0.625rem 0;
  width: 100%; }
  .author-byline__copy {
    color: #68707f;
    display: block;
    font-size: 0.875rem;
    font-weight: light;
    line-height: 1.7em;
    margin-top: 10px; }
    .author-byline__copy a {
      color: #515763 !important; }
  .author-byline__author {
    font-size: 1rem;
    font-weight: 500; }
  .author-byline__img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    float: right;
    height: 70px;
    margin: 0.625rem 0 0 2.5rem !important;
    width: 70px; }

.stream-item {
  margin: 0 0 2em;
  width: 100%;
  height: 160px;
  background: #C6CED8;
  padding: 30px;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none; }
  @media screen and (min-width: 40em) {
    .stream-item {
      padding: 30px 90px 30px 40px;
      margin-bottom: 20px; } }
  .stream-item--project {
    height: 260px; }
    @media screen and (min-width: 40em) {
      .stream-item--project {
        height: 460px; } }
    .stream-item--project.pusher-dashboard {
      background-color: #3cd6ee; }
    .stream-item--project.pusher-rebrand {
      background-color: #29ecba; }
    .stream-item--project.pusher-chameleon {
      background-color: #fecc25;
      -webkit-animation: hue 40s infinite linear; }
  .stream-item__title, .stream-item__sub {
    color: #fff; }
  .stream-item__title {
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1em;
    margin-bottom: 0.375rem; }
    @media screen and (min-width: 40em) {
      .stream-item__title {
        font-size: 1.125rem; } }
  .stream-item__sub {
    font-size: 1rem;
    position: relative; }
    .stream-item__sub:after {
      width: 30px;
      height: 4px;
      background-color: #fff;
      display: block;
      bottom: -20px;
      content: "";
      position: absolute; }

.stream {
  margin: 40px auto 0 !important; }
  @media screen and (min-width: 40em) {
    .stream {
      -webkit-column-gap: 2em;
      -moz-column-gap: 2em;
      column-gap: 2em;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; } }

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg); }
  to {
    -webkit-filter: hue-rotate(360deg); } }
