.header {
    height: 100px;
    padding: 40px 0;
    position: relative;
    width: 100%;
    z-index: 10;
}

.header__logo {
    color: #333;
    display: inline-block;
    font-size: em-calc(14px);
    font-weight: map-get($font-weight-alpha, normal);
    text-decoration: none;
    width: 150px;

    span {
        display: none;
        font-size: em-calc(13px);
        font-style: italic;
    }
}

.header__nav {
    display: inline-block;
    float: right;
    position: relative;

    ul {
        float: right;
        margin: 0;
        padding: 0;
    }
}

.header__nav__item {
    display: inline-block;
    margin-right: 10px;

    &:last-of-type {
        margin-right: 0;
    }

    a {
        color: #333;
        font-size: em-calc(14px);
        font-weight: map-get($font-weight-alpha, normal);
        text-decoration: none;
    }
}

.header__nav__item--current {
    border-bottom: 1px solid lighten($color-alpha, 20%);
}

body.nav--light {
    .header__logo,
    .header__nav__item a {
        color: #fff;
    }
}
