// - - - - - - - - - - - - - - - - - - - - - - - - -
// Base Site
// - - - - - - - - - - - - - - - - - - - - - - - - -

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: auto;
  overflow: auto;
}

body {
  @extend %font-family-alpha;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background-color: #fff;
  border-style: solid;
  border-width: 0;
  border-color: #eff2f5;
  border-left-width: 10px;
  border-right-width: 10px;

  &.home {
    background-color: #f4f7f9;
    border-color: #fff;
  }

  &.page--work {
    overflow-x: hidden;
  }
}

::selection {
  background: $color-alpha;
  color: $color-white;
}

.global-site {
  position: relative;
}
