//
// Global Variables
// ==================
//

// Typography
$font-family-alpha: "kepler-std-display", Georgia, Times, serif;
$font-family-beta: "ff-good-headline-web-pro-con", Helvetica Neue, Helvetica, sans-serif;
$font-family-copy: 'Lora', Georgia, Times, serif;

%font-family-alpha {
    font-family: $font-family-alpha;
}

%font-family-beta {
    font-family: $font-family-beta;
}

%font-family-copy {
    font-family: $font-family-copy;
}

// Color Variables
$color-background: #f6f6f6;
$color-alpha : #161920;
$color-beta : #ffdf00;

$color-type: #272b36;

$color-flare-primary: #f00;
$color-flare-secondary: #f00;

$color-black : #161920;
$color-white : #fff;

// Misc Variables
$home-page: '.home';
