%board-contents-center {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    p,
    a {
        text-align: center;
    }

    text-align: center;
}

%board-contents-light {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    p,
    a {
        color: #fff;
    }


}
.board {
    overflow: auto;
    padding: 40px 0;
    position: relative;
    width: 100%;
}

.board--double-pad {
    padding: 70px 0;
}

.board--dark {
    @extend %board-contents-light;
    background: lighten(#161920, 5%);
}

.board--intro {
    //@extend %board-contents-center;
    padding: 120px 0 0;

    @media #{$medium-up} {
        padding: 200px 0;
    }
}

.board--post {
    //@extend %board-contents-center;
    padding: 120px 0 0;

    @media #{$medium-up} {
        padding: 200px 0 20px;
    }
}

.board--post-teaser {
    padding: 40px 0;
}


// Project Boards

.board--panasonic-grey {
    padding: 60px 0;
    background: #666;
    position: relative;

    &:before {
        width: 300px;
        height: 100%;
        position: absolute;
        content: '';
        background: #666;
        left: -100%;
        top: 0;
    }
}