.btn {
    background: $color-white;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #ccc;
    display: inline-block;
    font-weight: map-get($font-weight-alpha, medium);
    line-height: .9em;
    margin: rem-calc(10px) 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    width: auto;

    &:hover {
        background: $color-black;
        border-color: darken($color-black, 15%);
        color: $color-white;
    }

}

.btn--small {
    font-size: rem-calc(11px);
    padding: 10px 20px;

}

.btn--medium {
    font-size: rem-calc(15px);
    padding: 10px 30px;
}

.btn--massive {
    font-size: rem-calc(24px);
    padding: 15px 50px;
    background: $color-black;
    border-color: darken($color-black, 15%);
    color: $color-white;

    @extend %font-family-beta;
    text-transform: none;
    font-style: italic;
}

.btn--dark {
    background: $color-black;
    border: 1px solid #555;
    color: #777;

    &:hover {
        border-color: #333;
    }
}
