<!DOCTYPE html>
<html lang="en-GB">

  {% include logic.html %}

  {% include head.html %}

  <body{% if page.bodyClass %} class="{{ page.bodyClass }}"{% endif %}>

    {% include nav.html %}

      {{ content }}

    {% include footer.html %}

    {% if site.environment == 'production' %}
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-41936976-3', 'auto');
          ga('send', 'pageview');
      </script>
    {% endif %}
    <script>
      console.log("🦁 Interested in code? Check out the source like a champ at https://github.com/alexpate/alexpate.uk")
    </script>

  </body>
</html>
