---
layout: default
---
<main role="main" class="grid">
  <section class="grid__small-12 grid__medium-10 grid__large-8 grid__medium-centered grid__columns" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="page__header">
      <h1 class="page__title" itemprop="name headline">{{ page.title }}</h1>
      <span class="page__meta">
        <time datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished">
          {{ page.date | prettyDate }}
          {% if page.meta %} • {{ page.meta }}{% endif %}
        </time>
      </span>
    </header>
    <article class="page__article gutenberg" itemprop="articleBody">
      {{ content }}

      {% if site.environment == 'production' %}
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="alexjpate" data-text="{{page.title}}" data-size="large" data-count="none" data-dnt="true">Tweet</a>
      <script>
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
      {% endif %}

      {% include post_pagination.html %}
    </article>
    {% include author.html %}
  </section>

  {% include disqus.html %}
  
</main>
