---
layout: default
---
<main role="main">

  <header class="work__header work__header--feature {{page.slug}}" {% if page.backgroundUrl %}style="background: url({{ page.backgroundUrl | asset_path }}) no-repeat center center / cover"{% endif %}>
    {% if page.slug == 'pusher-dashboard' %}
      {% include work-feature/pusher-dashboard.html %}
    {% endif %}

    <div class="grid__small-12 grid__medium-10 grid__large-8 grid__medium-centered grid__columns">
      <div class="grid">
        <h1 class="page__title">{{ page.title }}</h1>
        <span class="page__meta">{{ page.sub }}</span>
      </div>
    </div>
  </header>
  <section class="grid inner">

    <article class="gutenberg grid__small-12 grid__medium-8 grid__medium-centered grid__columns work__article">
      {{ content }}

      {% include post_pagination.html %}
      
      {% include author.html %}
    </article>

    {% include disqus.html %}

  </section>

</main>
