---
layout: default
---
<main role="main">

  <header class="work__header work__header--feature {{page.slug}}" {% if page.backgroundUrl %}style="background: url({{ page.backgroundUrl | asset_path }}) no-repeat center center / cover"{% endif %}>
    {% if page.slug == 'pusher-dashboard' %}
      {% include work-feature/pusher-dashboard.html %}
    {% endif %}

    <div class="grid">
      <h1 class="page__title">{{ page.title }}</h1>
      <span class="page__meta">{{ page.sub }}</span>
    </div>
    
  </header>
  <section class="grid grid--min">

      <article class="gutenberg work__article">
        {{ content }}
        {% include post_pagination.html %}
      </article>

      {% include author.html %}
      {% include disqus.html %}

  </section>
</main>
