<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }} - Web Engineer &amp; Designer</title>
    <meta name="description" content="{{ description or metadata.description }}">
     <!-- Twitter Cards -->
    <meta name="author" content="Alex Pate" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@alexjpate" />
    <meta name="twitter:creator" content="@alexjpate" />
    <meta
      name="twitter:image"
      content="https://alexjpate.com/static/twitter-card.png"
    />
    <meta name="twitter:title" content="Alex Pate - Engineer &amp; Designer" />
    <link rel="stylesheet" href="{{ '/styles/base.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="icon" type="image/png" href="/static/favicon.png">
  </head>
  <body data-theme="light">
    <header class="header">
      <a href="/" class="logo">Alex Pate</a>
      
      <nav>
        <a href="/profile">Profile</a>
        <a href="/posts">Writing</a>
        <a href="/projects">Work</a>
      </nav>
      <button id="theme-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon">
          <g id="theme-toggle-dark">
            <path d="M21 12.8A9 9 0 1111.2 3a7 7 0 009.8 9.8z" />
          </g>
          <g id="theme-toggle-light">
            <circle cx="12" cy="12" r="5" />
            <path d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4" />
          </g>
        </svg>
        <span class="u-visually-hidden">Toggle theme</span>
      </button>
    </header>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
    <script src="{{ '/js/theme-toggle.js' | url }}"></script>
  </body>
</html>
