.container {
  width: 100%;
  max-width: 640px;
  padding: 0 $lg $xl;
  margin: 0 auto;

  @media screen and (min-width: 40em) {
    padding: 0 $xl $xl;
  }

  img,
  video {
    max-width: 100%;
    border-radius: 4px;
  }
}

.post {
  padding-top: $xl * 2;
}

.title {
  margin-bottom: $xs;
}

.meta {
  font-size: 1rem;
  margin-top: 0;

  @media screen and (min-width: 40em) {
    font-size: 0.9rem;
  }
}

.project-featured-image {
  width: calc(100% + #{$lg * 2});
  max-width: calc(100% + #{$lg * 2}) !important;
  margin-left: -#{$lg};
  margin-top: $md;

  @media screen and (min-width: 40em) {
    width: 140%;
    max-width: 140% !important;
    margin-left: -20%;
    margin-top: $xl;
  }
}
