.selected-project {
  margin-bottom: $md;
  display: flex;
  color: inherit;
  text-decoration: none;
  flex-direction: column;
  gap: $md;

  @media screen and (min-width: 40em) {
    flex-direction: row;
  }

  figure {
    margin: 0;
    flex: 1.5;

    img {
      max-width: 100%;
      border-radius: 5px;
    }
  }

  div {
    flex: 1;
  }

  p {
    font-size: 1.2rem;

    @media screen and (min-width: 40em) {
      font-size: 1rem;
    }
  }

  h3 {
    margin: 0;
  }
}
