@import 'variables';
@import 'utils';
@import 'layout';
@import 'typography';
@import 'header';
@import 'selected-project';
@import 'prism';
@import 'animations';
@import 'home-hero';

@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/static/fonts/NeueHaasUnica-Medium.woff2') format('woff2'),
    url('/static/fonts/NeueHaasUnica-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/static/fonts/NeueHaasUnica-Regular.woff2') format('woff2'),
    url('/static/fonts/NeueHaasUnica-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--color-canvas);
}

html {
  font-size: 0.9rem;

  @media screen and (min-width: 40em) {
    font-size: 1rem;
  }
}

body {
  color: var(--color-text);
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Neue Haas Unica', sans-serif;
}
